$primary: rgb(141, 141, 141);
$secondary: rgb(245, 245, 245);
$tertiary: rgb(0, 0, 0);
$quaternary: rgb(253, 253, 253);
$quinary: rgba(194,194,194,1);
$headers: rgb(189, 189, 189);

$light: 300;
$normal: 500;
$bold: 600;

$font18: 18px;